:root{
  --titleColor:#343234;
  --lightTextColor:#888689;
  --waterGreenColor:#00B39D;
  --negativeNumberColor:#ff4501e6;
  --rowsColor:#FFFFFF;
  --backDropColor:rgb(0, 179, 158);
  --buttonsColor:#E3E2E3;
  --buttonTextColor:#6A6C72;
  --cardStatusTag: #5F5D60;
  --cardPaperColor: #959AA2;
}


body {
  font-family: "Roboto";
}

.row-color{
  background-color: var(--rowsColor);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.097543);
  border-radius: 8px;
}

.titleText {
  color: var(--titleColor);
  font-weight: 500;
}

.lightText{
  color: var(--lightTextColor);
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.negativeNumber{
  color: var(--negativeNumberColor);
  font-weight: 700;
}

.positiveNumber{
  color: var(--waterGreenColor);
  font-weight: 700;
}

.badge-text{
  font-weight: 700;
  color: #FFFFFF;
}

.transactionNumber{
  font-weight: 700;
}

.newBotButton {
  background-color: var(--row-color);
  border-color:var(--buttonsColor);
  width:75px;
  height:70px;
}

.newBotButton:hover,
.newBotButton:focus,
.newBotButton:active:focus,
.newBotButton.active:focus,
.newBotButton.focus,
.newBotButton:active.focus,
.newBotButton.active.focus{
  background-color: var(--row-color);
  border-color:var(--buttonsColor);
}

.backDropColor {
  background-color: var(--backDropColor);
}

.formLabelText{
  color: var(--titleColor);
  font-weight: 400;
  font-size: 12px;
}

.strategyButton{
  background-color:var(--rowsColor);
  color: var(--buttonTextColor);
  font-size:16px;
  font-weight: normal;
  border-color: var(--buttonsColor);
}

.strategyButton:hover,
.strategyButton:focus,
.strategyButton:active:focus,
.strategyButton.active:focus,
.strategyButton.focus,
.strategyButton:active.focus,
.strategyButton.active.focus{
  background-color: #FF4501;
  border-color:#FF4501;
  font-weight: bold;
  color: #FFFFFF;
}

.modalCancelButton,
.modalCancelButton:hover,
.modalCancelButton:focus,
.modalCancelButton:active:focus,
.modalCancelButton.active:focus,
.modalCancelButton.focus,
.modalCancelButton:active.focus,
.modalCancelButton.active.focus{
  background-color: var(--rowsColor);
  font-size: 13px;
  color:var(--buttonTextColor);
  border-color: var(--buttonsColor);
}

.modalCreateButton,
.modalCreateButton:hover,
.modalCreateButton:focus,
.modalCreateButton:active:focus,
.modalCreateButton.active:focus,
.modalCreateButton.focus,
.modalCreateButton:active.focus,
.modalCreateButton.active.focus{
  background-color: var(--waterGreenColor);
  font-size: 13px;
  color:var(--rowsColor);
  border-color: var(--waterGreenColor);
}

@media (min-width: 1024px){
  .modalWidth{
    width: 40%;
  }
}


.cardTitle {
  font-weight:700;
  color: var(--titleColor);
}

.robotCardTag{
  border: 1px solid var(--buttonsColor);
}

.cardStatusNumber{
  font-weight:700;
  color: var(--cardStatusTag);
  font-size:32px;
}

.tradesOnTheDay{
  font-weight:700;
  color: var(--cardStatusTag);
  font-size:20px;
}

.cardPositiveNumber{
  color: var(--waterGreenColor);
  fontWeight: 400;
  fontSize: 14px;
}

.cardNegativeNumber{
  color: var(--negativeNumberColor);
  fontWeight: 400;
  fontSize: 14px;
}