:root{
  --titleColor:#343234;
  --lightTextColor:#888689;
  --waterGreenColor:#00B39D;
}


body {
  font-family: "Roboto";
}

.row-color{
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.097543);
  border-radius: 8px;
}

.titleText {
  color: var(--titleColor);
  font-weight: 500;
}

.lightText{
  color: var(--lightTextColor);
  font-weight: 400;
}

